{% extends 'store/layouts/main.html' %}

{% block content %}
<div style="background: linear-gradient(to right, #FFA500, #FFA500 50%, #800080 50%, #800080); padding: 10px; display: flex; align-items: center;">
    <h2 style="color: white; margin: 0; text-align: center; width: 100%;">CATEGORIES</h2>
  </div>
<div class = "container">
    <div class = "row">
        <div class = "col-md-12">

            <div class="row">
                {% for item in category %}
                {% if forloop.counter0|divisibleby:3 %}
                </div>
                <div class="row">
                {% endif %}
                <div class="col-md-3">
                    <div class="card mb-3">
                        <a href="{% url 'collectionsview' item.slug %}">
                            <img src="{{item.image.url}}" class="card-img-top" alt="{{item.name}}">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">{{item.name}}</h5>
                            <p class="card-text">{{item.description}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
